<!DOCTYPE html>
<html>
 <head>

 </head>

 <body>

  <p>편의점 음식을 추가 하시겠습니까?</P>
  <form action="/add_gsfood_process" method="POST">
      <p>편의점음식 이름 <input type="text" name="hotel_title"></p><br>
      <p>편의점음식 설명 </p><textarea rows="12" cols="70" name="hotel_description"></textarea><br>
      <p>편의점음식 사진파일 위치</p><textarea cols="70" name="hotel_image_location"></textarea><br><br>
      <input type="submit" value="추가">
  </form>


 </body>
</html>
