<!DOCTYPE html>
<html>
 <head>

 </head>

 <body>

  <p>맛집정보를 추가 하시겠습니까?</P>
  <form action="/add_top10_process" method="POST">
      <p>맛집 이름 <input type="text" name="top10_title"></p><br>
      <p>맛집 설명 </p><textarea rows="12" cols="70" name="top10_description"></textarea><br>
      <p>맛집 사진파일 위치</p><textarea cols="70" name="top10_image_location"></textarea><br><br>
      <input type="submit" value="추가">
  </form>


 </body>
</html>
