<!DOCTYPE html>
<html>
 <head>




 </head>
 <body>

  <p><%= @h.title %></p>
  <p><%= @h.description %></p>
  <p><img src="<%= @h.image_src %>" style="width:300px;height:180px"></p>

 </body>
</html>
