<!DOCTYPE html>
<html>
<head>

<link type="text/css" rel="stylesheet" href="/login_page.css" />


</head>
<body>

<center>
  <div class="sign_box">
    <h2 class="sign_box_subject">회원가입</h2>

    <form accept-charset="UTF-8" action="/join_process" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
      <div> <input autofocus="autofocus" class="login_box" id="inputEmail3" name="user_email" placeholder="이메일" type="email" value=""></div>
      <div> <input class="login_box" id="inputPassword3" name="user_password" placeholder="비밀번호" type="password"></div>
      <div><input class="login_login_button" name="commit" style="" type="submit" value="회원가입"></div>
</form>
  </div>
  </center>


</body>
</html>
