<html>
<head>

<link type="text/css" rel="stylesheet" href="/login_page.css" />

</head>
<body>
<center>
  <div class="sign_box">
    <h2 class="sign_box_subject">로그인</h2>

    <form accept-charset="UTF-8" action="/login_process" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
      <div> <input autofocus="autofocus" class="login_box" id="inputEmail3" name="user_email" placeholder="이메일" type="email" value=""></div>
      <div> <input class="login_box" id="inputPassword3" name="user_password" placeholder="비밀번호" type="password"></div>
      <div><input class="login_login_button" name="commit" style="" type="submit" value="로그인"></div>
</form>    <br>
      <p style="font-size:15px;">아직 아이디가 없나요?  <a class="sign_text" href="/join">회원가입</a><br></p>
  </div>
  </center>


</body>
</html>
